<div *ngIf="person">
  <p class="fs-3 text-center">Detalii contact</p>

  <div *ngIf="person.firstname[0]" class="form-group">
    <label for="firstname">Nume</label>
    <input class="form-control" type="text" name="firstname" [value]="person.firstname" disabled>
  </div>

  <div *ngIf="person.lastname[0]" class="form-group">
    <label for="lastname">Prenume</label>
    <input class="form-control" type="text" name="lastname" [value]="person.lastname" disabled>
  </div>

  <div *ngIf="person.date" class="form-group">
    <label for="date">Data nașterii</label>
    <input class="form-control" type="date" name="date" [value]="person.date" disabled>
  </div>

  <fieldset *ngIf="person.contacts[0]">
    <p class="fs-6 mt-3">Date de contact</p>
    <!-- Carousell for Contacts -->
    <div class="row fs-3">
      <div class="col d-flex align-items-start flex-column">
        <i *ngIf="contactIndex > 0" (click)="decreaseContactIndex()" class='fas fa-angle-left '></i>
      </div>
      <div class="col d-flex align-items-center flex-column">
        <p class="fs-4">
          Contactul nr.{{this.contactIndex + 1}}
        </p>
      </div>
      <div class="col d-flex align-items-end flex-column">
        <i *ngIf="person.contacts[contactIndex + 1]" (click)="increaseContactIndex()" class='fas fa-angle-right'></i>
      </div>
    </div>
    <!-- END Carousell -->

    <div class="form-group">
      <label for="number">Numărul de telefon</label>
      <input class="form-control" type="text" name="number" [value]="person.contacts[contactIndex].number" disabled>
      <div *ngIf="person.contacts[contactIndex].type">
        <label for="type">Tipul</label>
        <select class="form-control" name="type" disabled>
          <option selected>{{person.contacts[contactIndex].type}}</option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset *ngIf="person.addresses[0]">
    <p class="fs-6 mt-3">Adrese</p>
    <!-- Carousell for Adresses-->
    <div class="row fs-3">
      <div class="col d-flex align-items-start flex-column">
        <i *ngIf="addressIndex > 0" (click)="decreaseAddressIndex()" class='fas fa-angle-left '></i>
      </div>
      <div class="col d-flex align-items-center flex-column">
        <p class="fs-4">
          Adresa nr.{{this.addressIndex + 1}}
        </p>
      </div>
      <div class="col d-flex align-items-end flex-column">
        <i *ngIf="person.addresses[addressIndex + 1]" (click)="increaseAddressIndex()" class='fas fa-angle-right'></i>
      </div>
    </div>
    <!-- END Carousell -->
    <div class="form-group">
      <fieldset>
        <div class="row">

          <div class="col">
            <label for="country">Localitate</label>
            <input class="form-control" type="text" name="country"
              [value]="person.addresses[addressIndex].location.country" disabled>
          </div>

          <div class="col">
            <label for="city">Oraș</label>
            <input class="form-control" type="text" name="city" [value]="person.addresses[addressIndex].location.city"
              disabled>
          </div>

          <div class="col">
            <label for="street">Stradă</label>
            <input class="form-control" type="text" name="street"
              [value]="person.addresses[addressIndex].location.street" disabled>
          </div>
        </div>
      </fieldset>
      <div *ngIf="person.addresses[addressIndex].type">
        <label for="type">Tipul</label>
        <select class="form-control" name="type" disabled>
          <option selected>{{person.addresses[addressIndex].type}}</option>
        </select>

      </div>
    </div>
  </fieldset>

  <div *ngIf="person.notes" class="form-group">
    <label for="notes">Notițe</label>
    <textarea class="form-control" rows="3" name="notes" [value]="person.notes" disabled></textarea>
  </div>

  <div class="d-flex justify-content-around p-3">
    <button [routerLink]="['/agenda']" class="btn btn-primary">Renunță</button>

    <button class="btn btn-danger" (click)="removeContact(person.id)">STERGE</button>

    <button (click)="updateHandler()" class="btn btn-warning">Actualizează</button>
  </div>

</div>
