<h1 class="text-center">Agenda ta electronică</h1>
<hr />
<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="col-md-4">
        <input type="text" (keyup)="search($event)">

      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Sortează</label>
          </div>
          <select (change)="sortHandler($event)" class="custom-select" id="inputGroupSelect01">
            <option selected>Alege</option>
            <option value="firstname">Nume</option>
            <option value="lastname">Prenume</option>
            <option value="age">Varsta</option>
            <option value="date">Data</option>
          </select>
        </div>

      </div>
      <div *ngFor="let item of sortedPersons" class="col border-bottom border-dark p-1">
        <contact-thumbnail [person]="item"></contact-thumbnail>
      </div>
    </div>

    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
