<p class="fs-3 text-center">Crează contact</p>
<form [formGroup]="personForm" (ngSubmit)="savePerson()" novalidate>

  <div class="form-group">
    <label for="firstname">Nume</label>
    <input (input)="namesValidator()" class="form-control" type="text" id="firstname" name="firstname" formControlName="firstname">
  </div>

  <div class="text-danger mb-3"
  *ngIf="(!firstname?.valid && (firstname?.dirty ||firstname?.touched))">

  <div [hidden]="!firstname.errors.pattern">
    Nu ai introdus un nume valid
  </div>
  <div [hidden]="!firstname.errors.maxlength">
    Lungimea maxima 15
  </div>
  </div>
  <!-- Custom Validator for firstname and lastname -->
  <div class="text-danger mb-3" [hidden]="namesValide">
    Introdu un nume sau prenume
  </div>

  <div class="form-group">
    <label for="lastname">Prenume</label>

    <input (input)="namesValidator()" class="form-control" type="text" id="lastname" name="lastname" formControlName="lastname">
  </div>

  <div class="text-danger mb-3"
    *ngIf="!lastname?.valid && (lastname?.dirty ||lastname?.touched) && !lastname.errors?.required">
    <div [hidden]="!lastname.errors.pattern && !lastname.errors.required">
      Nu ai introdus un prenume valid
    </div>
    <div [hidden]="!lastname.errors.maxlength">
      Lungimea maxima 15
    </div>
  </div>

    <!-- Custom Validator for firstname and lastname -->
    <div class="text-danger mb-3" [hidden]="namesValide">
      Introdu un nume sau prenume
    </div>

  <div class="form-group">
    <label for="date">Data nașterii</label>
    <input class="form-control" type="date" id="date" name="date" formControlName="date">
  </div>

  <fieldset formArrayName="contacts">
    <p class="fs-6 mt-3">Date de contact</p>
    <div *ngFor="let contact of contacts.controls; let idx = index" [formGroupName]="idx" class="form-group">
      <!-- Title contact -->
      <div class="row text-center">
        <p class="fs-5 fw-bold">Contactul {{idx + 1}}</p>
      </div>
      <!-- Delete contact button -->
      <div class="row text-end">
        <i (click)="deleteContact(idx)" class="fas fa-minus text-danger fs-3"></i>
      </div>

      <!-- Contact[index] form -->
      <label for="number">Numărul de telefon
        <em class="text-danger" [hidden]="!contact.get('number')?.errors?.['pattern']">
          Caractere permise (+ 0-9)</em>
      </label>
      <input class="form-control" type="text" id="number" name="number" formControlName="number">

      <label for="type">Tipul</label>
      <select class="form-control" id="type" name="type" formControlName="type">
        <option selected value="">Necunoscut</option>
        <option [value]="contact" *ngFor="let contact of contactsList">
          {{contact}}
        </option>
      </select>
    </div>
    <!-- Add button -->
    <div class="d-flex flex-row-reverse mt-3">
      <i (click)="addContact()" class="fas fa-plus fs-3 text-success"></i>
    </div>
  </fieldset>

  <fieldset formArrayName="addresses">
    <p class="fs-6 mt-3">Adrese</p>
    <div *ngFor="let address of addresses.controls; let idx = index" [formGroupName]="idx" class="form-group">
      <!-- Title address -->
      <div class="row text-center">
        <p class="fs-5 fw-bold">Adresa {{idx + 1}}</p>
      </div>
      <!-- Delete address button -->
      <div class="row text-end">
        <i (click)="deleteAddress(idx)" class="fas fa-minus text-danger fs-3"></i>
      </div>
      <!-- Address[index] form -->
      <fieldset formGroupName="location">
        <div class="row">
          <div class="col">
            <label for="country">Localitate <em class="text-danger"
                [hidden]="!address.get('location')?.get('country')?.errors?.['pattern']">
                Invalid
              </em></label>
            <input class="form-control" type="text" id="country" name="country" formControlName="country">
          </div>
          <div class="col">
            <label for="city">Oraș<em class="text-danger"
                [hidden]="!address.get('location')?.get('city')?.errors?.['pattern']">
                Invalid
              </em></label>
            <input class="form-control" type="text" id="city" name="city" formControlName="city">
          </div>
          <div class="col">
            <label for="street">Stradă<em class="text-danger"
                [hidden]="!address.get('location')?.get('street')?.errors?.['pattern']">
                Invalid
              </em></label>
            <input class="form-control" type="text" id="street" name="street" formControlName="street">
          </div>
        </div>
      </fieldset>
      <label for="type">Tipul</label>
      <select class="form-control" id="type" name="type" formControlName="type">
        <option selected value="">Necunoscut</option>
        <option [value]="address" *ngFor="let address of addressesList">
          {{address}}
        </option>
      </select>
    </div>
    <!-- Add button -->
    <div class="d-flex flex-row-reverse mt-3">
      <i (click)="addAddress()" class="fas fa-plus fs-3 text-success"></i>
    </div>
  </fieldset>

  <div class="form-group">
    <label for="notes">Notițe</label>
    <textarea class="form-control" rows="3" id="notes" name="notes" formControlName="notes"></textarea>
  </div>

  <div class="d-flex justify-content-around p-3">
    <button class="btn btn-primary col-md-3 " type="submit" [disabled]="!personForm.valid || !namesValide"
      (click)="savePerson">Submit</button>
    <button class="btn btn-warning col-md-3 " type="button" (click)="cancelCreate()">Cancel</button>
  </div>
</form>
