<p class="fs-3 text-center">Crează contact</p>
<form [formGroup]="personForm" (ngSubmit)="savePerson()" novalidate>

  <div class="form-group">
    <label for="firstname">Nume <em class="text-danger" [hidden]="!firstname.errors?.required">
        Camp obligatoriu
      </em></label>
    <input class="form-control" type="text" id="firstname" name="firstname" formControlName="firstname">
  </div>

  <div class="text-danger"
    *ngIf="!firstname?.valid && (firstname?.dirty ||firstname?.touched) && !firstname.errors?.required">

    <div [hidden]="!firstname.errors.pattern && !firstname.errors.required">
      Nu ai introdus un nume valid
    </div>
    <div [hidden]="!firstname.errors.maxlength">
      Lungimea maxima 15
    </div>
  </div>

  <div class="form-group">
    <label for="lastname">Prenume <em class="text-danger" [hidden]="!lastname.errors?.required">
        Camp obligatoriu
      </em></label>

    <input class="form-control" type="text" id="lastname" name="lastname" formControlName="lastname">
  </div>

  <div class="text-danger"
    *ngIf="!lastname?.valid && (lastname?.dirty ||lastname?.touched) && !lastname.errors?.required">
    <div [hidden]="!lastname.errors.pattern && !lastname.errors.required">
      Nu ai introdus un prenume valid
    </div>
    <div [hidden]="!lastname.errors.maxlength">
      Lungimea maxima 15
    </div>
  </div>

  <div class="form-group">
    <label for="date">Data nașterii</label>
    <input class="form-control" type="date" id="date" name="date" formControlName="date">
  </div>

  <fieldset formGroupName="contacts">
    <p class="fs-6 mt-3">Date de contact</p>
    <div class="form-group">
      <label for="number">Numărul de telefon <em class="text-danger" [hidden]="!number.errors?.pattern">
          Invalid
        </em></label>
      <input class="form-control" type="text" id="number" name="number" formControlName="number">

      <label for="type">Tipul</label>
      <select class="form-control" id="type" name="type" formControlName="type">
        <option selected value="">Necunoscut</option>
        <option [value]="contact" *ngFor="let contact of contactsList">
          {{contact}}
        </option>
      </select>
    </div>
  </fieldset>

  <fieldset formGroupName="addresses">
    <p class="fs-6 mt-3">Adrese</p>
    <div class="form-group">
      <fieldset formGroupName="location">
        <div class="row">
          <div class="col">
            <label for="country">Localitate <em class="text-danger" [hidden]="!country.errors?.pattern">
                Invalid
              </em></label>
            <input class="form-control" type="text" id="country" name="country" formControlName="country">
          </div>
          <div class="col">
            <label for="city">Oraș<em class="text-danger" [hidden]="!city.errors?.pattern">
                Invalid
              </em></label>
            <input class="form-control" type="text" id="city" name="city" formControlName="city">
          </div>
          <div class="col">
            <label for="street">Stradă<em class="text-danger" [hidden]="!street.errors?.pattern">
                Invalid
              </em></label>
            <input class="form-control" type="text" id="street" name="street" formControlName="street">
          </div>
        </div>
      </fieldset>
      <label for="type">Tipul</label>
      <select class="form-control" id="type" name="type" formControlName="type">
        <option selected value="">Necunoscut</option>
        <option [value]="address" *ngFor="let address of addressesList">
          {{address}}
        </option>
      </select>
    </div>
  </fieldset>

  <div class="form-group">
    <label for="notes">Notițe</label>
    <textarea class="form-control" rows="3" id="notes" name="notes" formControlName="notes"></textarea>
  </div>

  <div class="d-flex justify-content-around p-3">
    <button class="btn btn-primary col-md-3 " type="submit" [disabled]="!personForm.valid"
      (click)="savePerson">Submit</button>
    <button class="btn btn-warning col-md-3 " type="button" (click)="cancelCreate()">Cancel</button>
  </div>
</form>
